<%- include("header") -%>

<h1>This is my about page.</h1>
<p>Hi myself Ashit Kumar and I am a software developer geek. I love to create mini project to revise my concepts time to time. Apart from this I am much into outdoor play, especially football. Weekend means binge watcing for me.</p>

<%- include("footer") -%>
